

<p>Name: <%= @user.name %></p>
    <p>Tickets:</strong> <%= @user.tickets %></p>
    <p>Mood:</strong>  <%= @user.mood %></p>
    <p>Height:</strong> <%= @user.height %> inches</p>
    <p><%= link_to 'See attractions', attractions_path %></p>